body {
  font-family: 'Courier New', monospace;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.page {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:before {
  content: "•";
  color: #666;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.text-arab {
  font-size: 20px;
  margin: 10px 0;
}